//Account Actions
.menu-list {
    width: 200px;

    .menu-item {
        margin-left: 0 !important;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 16px;
        line-height: 1.6rem;
        font-weight: 500;
        color: var(--text-color);
        width: 100%;
        border-radius: unset;

        &.separate {
            border-top: rgba(22, 24, 35, 0.12) solid 1px;
        }
    }

    .menu-item:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

//Header Menu
.header-menu {
    position: relative;
    padding: 15px 10px;
    margin-top: -8px;

    .back-btn {
        font-size: 2rem;
        line-height: 0;
    }

    .header-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: 600;
        color: var(--text-color);
    }
}
