@media (min-width: 1299px) {
    .hide-on-pc {
        display: none;
    }
}
/* > PC low resolution */

@media (min-width: 1025px) and (max-width: 1299px) {
    .hide-on-pc-low {
        display: none;
    }
}
/* Mobile & tablet */

@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}
/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
}
/* Mobile */

@media (max-width: 739px) {
    .small-search {
        width: 250px;
    }
}
