.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 100%;
    min-height: 1000px;
    background-color: orange;
    margin-top: var(--header-height);
}
