.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
}
.inner {
    justify-content: space-between;
}

.nav,
.actions {
    display: flex;
    align-items: center;
}

.nav-icon {
    margin-right: 12px;
    font-size: 20px;
    color: #97979f;
}

.logo svg {
    fill: url(#vodiLogo);
}

.navbar-list {
    display: flex;
    margin-left: 12px;

    li {
        padding: 31px 16px;
    }

    .active a {
        color: #1773d6;
    }
}

.login {
    margin-left: 20px;

    .login-btn {
        cursor: pointer;
        font-size: 3.2rem;
        border-radius: 20px;
        color: rgba(22, 2, 35, 0.25);
        line-height: 0;
    }
}

//Responsive
@media (max-width: 739px) {
    .inner {
        padding: 10px;
    }
}

//User Login
.user-avatar {
    width: 32px;
    margin-left: 20px;
    border-radius: 50%;
}
